{{ partial "post_header.html" . }}
<div class = 'container'>
  <div class = 'row post-title'>
    <div class = 'col-6'>
      <h1>{{ .Title }}</h1>
    </div>
  </div>
  <div class = 'row post-meta' style = 'display: flex;'>
    <div class = 'col-3'>
      <h6 class = "date">{{ .Date.Format "2006-01-02" }}</h6>
    </div>
    <div class = 'col-6'>
      <h6 class = "archive"> <a href="{{ .Site.BaseURL }}post"> Archives </a></h6>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-9'>
      {{ .Content }}
    </div>
  </div>
</div>
{{ partial "footer.html" . -}}
