{{ partial "header.html" . }}  

{{ $paginator := .Paginate (after 1 .Site.Pages) 20 }}

{{- range $paginator.Pages }}
  {{ if eq .Type "post" }}
    {{ .Render "summary" }}
  {{- end }}
  {{ if eq .Type "image" }}
      {{ partial "post_header.html" . }}
        {{ .Render "summary" }}
      {{ partial "post_footer.html" . }}
  {{- end }}
{{- end }}

  <div class ="row">
    <div class = "col-12">
      {{ if .Paginator.HasPrev }}
        <a class = "left" href="{{ .Paginator.Prev.URL }}">
          &larr; Previous Page
        </a>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}" style = "float: right;">
          Next Page &rarr;
        </a>
      {{ end }}
    </div>
  </div>
{{ partial "footer.html" . }}
