<html lang="en"> 
<head> <meta charset="utf-8">
	 <title>JSONbecker</title>  
	 <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.019/css/hack.min.css">
<!--	 <link rel="stylesheet" href="css/main.css" type="text/css"> -->
</head>  
<body> 
<pre 
  style = 'white-space: pre; 
           white-space: pre-wrap; 
           word-wrap: break-word; 
           font-family: Hack, Menlo, Consolas, Monaco, monospace;'>{
    "fname": "Jason",
    "lname": "Becker",
    "resume": "<a href="http://www.jsonbecker.com/jbecker_resume.pdf">pdf</a>",
    "interests": {
        "personal": [
            "technology",
            "sci-fi",
            "scripting",
            "cities",
            "Providence",
            "guitar"
        ],
        "professional": [
            "R",
            "program evaluation",
            "data analysis",
            "policy analysis",
            "public education",
            "government",
            "performance management",
            "reproducible research"
        ],
        "music": [
            "post-rock",
            "rock",
            "indie",
            "instrumental",
            "experimental"
        ],
    },    
    "social": [
        {
            "twitter": "<a href="http://www.twitter.com/jsonbecker">jsonbecker</a>"
        },
        {
            "blog": "<a href="{{ .Site.BaseURL }}post">http://www.jsonbecker.com/post</a>"
        },
        {
            "tumblr": "<a href="http://tumblr.jsonbecker.com">http://tumblr.jsonbecker.com</a>"
        }
    ]
}
</pre>
</body> 
</html>

