{{ partial "header.html" . }}  

{{ $paginator := .Paginate (after 1 .Site.Pages) 5 }}

{{ if not .Paginator.HasPrev }}
  {{- range first 1 .Site.Pages }}
    {{ if eq .Type "post" }}
      {{ partial "idx_post.html" . }}
    {{- end }}
    {{ if eq .Type "image" }}
      {{ partial "idx_image.html" . }}
    {{- end }}
  {{ end }}
{{ end }}

{{- range $paginator.Pages }}
  {{ if eq .Type "post" }}
    {{ .Render "summary" }}
  {{- end }}
  {{ if eq .Type "image" }}
    {{ partial "idx_image.html" . }}
  {{- end }}
{{- end }}

  <div class ="row">
    <div class = "col-12">
      {{ if .Paginator.HasPrev }}
        <a class = "left" href="{{ .Paginator.Prev.URL }}">
          &larr; Previous Page
        </a>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}" style = "float: right;">
          Next Page &rarr;
        </a>
      {{ end }}
    </div>
  </div>
{{ partial "footer.html" . }}
