@import 'https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600';

/* Root Fonts */

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #00997C;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

a {
  color: #1177bb;
  font-weight: 500;
}

a:hover, a:visited {
  color: #3b185f;
}

blockquote > p {
  font-weight: 500;
  font-style: italic;
  border-left: 10px solid #00997C;
  padding: 0.5em 10px;
}

pre, code { 
  font-family: Hack, monospace; 
  font-size: 0.80rem;
}

.post-list {
  
}

.gutter{
  clear: both;
}
.post-item {
  list-style-type: none;
  clear: both;
  padding-top: 5;
  padding-bottom: 5;
  display: block;
}

.post-meta {
  font-weight: 600;
  color: #00997C;
  max-height: 40px;
  line-height: 1em;
}

.post-meta .date {
  float: left;
}

.post-meta .archive{
  float: right;
}

.post-title {
  padding: 5 0 5 0 ;
  max-height: 80px;
  font-size: 2.25em;
}

table {
  border-spacing: 0;
  width: 100%;
}

th {
  border-bottom: 2px solid #ccc; 
  border-collapse: collapse;
  font-weight: 700;
}

footer.license {
  padding: 10 0 10 0;
  font-size: 0.75em;
}
