@import 'https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600';

/* Root Fonts */

body {
  margin: 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.375rem;
  font-weight: 500;
}

h4 {
  font-size: 1.125rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
}

h6 {
  font-size: 0.875rem;
  font-weight: 400;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

.site {
  display: grid;
  grid-template-areas: "header header header"
                       ". content sidebar"
                       "footer footer footer";
  grid-template-columns: 1fr 3fr 2fr;
  grid-auto-rows: auto 1fr auto;
}

main {
  grid-area: content;
}

article {
  display: grid;
  grid-template-areas: "post-title"
                       "post-content";
  grid-auto-rows: auto 1fr;
}

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #00997C;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

a {
  color: #1177bb;
  font-weight: 500;
}

a:hover, a:visited {
  color: #3b185f;
}

blockquote > p {
  font-weight: 500;
  font-style: italic;
  border-left: 10px solid #00997C;
  padding: 0.5em 10px;
}

pre, code { 
  font-family: Hack, monospace; 
  font-size: 1rem;
}

.p-author {
  display: none;
}

.post-list {
  
}

.gutter{
  clear: both;
}

.post-item {
  list-style-type: none;
  clear: both;
  padding-top: 5;
  padding-bottom: 5;
  display: flex;
}

.title-bar {
  background-color: #00997C;
  grid-area: header;
  max-width: 100vw;
  left: 0;
  top: 0;
  padding: 0 20 0 20;
  display: flex;
  align-items: center;
}

.site-title {
  float: left;
  color: #FFFFFF;
  font-size: 2em;
  width: 80%;
}

.title-bar .nav {
  float: right;
  color: #FFFFFF;
}

.title-bar .nav a{
  color: #FFFFFF;
  text-decoration: underline;
}

.date {
  float: left;
  font-size: 0.875 rem;
  color: #00997C;
}

.perma {
  float: right;
  font-size: 1 rem;
}

.perma a {
  text-decoration: none;
}

.post-item .post-title {
  max-height: 80px;
  margin-left: 25;
}

.post-item .date {
  min-width: 100px;
}

.post-title h1 {
  font-size: 2.5rem;
}

.post-title {
  grid-area: post-title;
}

.post-content {
  grid-area: post-content;
}

figure {
  position: relative;
  background-color: rgba(0, 0, 0, 0.22);
	display: inline-block;
}

figure img {
  max-width: 100%;
  margin: auto;
  display: block;
}

/** lightbox taken from http://codepen.io/gschier/pen/HCoqh **/
.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  max-height: 95vh;
  margin-top: 2%;
}

.lightbox:target {
  outline: none;
  display: block;
}

figcaption {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5 10 5 10;
	font-style: italic;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
	text-align: left;
}

table {
  border-spacing: 0;
  width: 100%;
}

th {
  border-bottom: 2px solid #ccc; 
  border-collapse: collapse;
  font-weight: 700;
}
footer {
  grid-area: footer;
  background-color: #00997C;
  color: #fff;
  padding: 10 0 10 0;
  font-size: 0.75em;
  width: 100%
}

footer img {
	display: block;
	margin: auto;
}

.paginator {
  margin: 2em 0 2em 0;
}
